<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div style="padding: 10px 75px 10px;">
        <input type="checkbox" class="form-check-input" id="toggleHiding">
        <label for="toggleHiding" class="toggleLabel"> Hide Unrelated Terms </label>
    </div>
  <div class="jumbotron galleryHolder" style="background-color: rgba(0,0,0,0); display: flex; align-items: center; justify-content: center;">
    <%- include ('../partials/gallerystyling'); %>
    <div class="gallery" style="float: left" id="term-card-gallery">
    </div>
    <div class="mainCardHolder" style="float: right">
        <%- include ('../partials/card'); %>
    </div>
  </div>

  <script>
    // display card to main div on click
  </script>

</main>

<style>
.mainCardHolder {
    padding: 0px 75px 0px 75px;
    transition: padding 0.5s;
}
@media only screen and (max-width: 800px) {
    .mainCardHolder {
        padding: 0px;
    }
}
</style>

<script>

function cardSelect(term, definition) {
    document.getElementById("main-card-term").innerHTML = term;
    var id = "termcard-" + term;
    document.querySelector('.flip-card-inner').style.transform = 'rotateY(0deg)';
    setTimeout(function() {
        document.getElementById("main-card-definition").innerHTML = definition;
    }, 300)
    cardRelation();
}

var isHiding = false;
// check for checkbox change
document.getElementById("toggleHiding").addEventListener("change", function() {
    if (this.checked) {
        // change boolean state
        isHiding = true;
    }
    else {
        // change boolean state
        isHiding = false;
    }
cardRelation();
});

// function to populate card gallery with cards from dictionary
function populateGallery() {
    var gallery = document.getElementById("term-card-gallery");

    for (var card in noteCardSet) {
        var cardDiv = document.createElement("div");
        cardDiv.className = "galleryCard";
        cardDiv.id = "termcard-" + noteCardSet[card].term;
        cardDiv.innerHTML = noteCardSet[card].term;
        cardDiv.setAttribute("onclick", "cardSelect('" + noteCardSet[card].term + "', '" + noteCardSet[card].definition + "')");
        gallery.appendChild(cardDiv);
    }

    // set first card as main card's term and definition
    document.getElementById("main-card-term").innerHTML = noteCardSet[Object.keys(noteCardSet)[0]].term;
    document.getElementById("main-card-definition").innerHTML = noteCardSet[Object.keys(noteCardSet)[0]].definition;
}

populateGallery();

// function to change background color of cards to a light green based on if they have a relation to the active card
function cardRelation() {
    var activeCard = document.getElementById("main-card-term").innerHTML;

    var activeCardRelations = noteCardSet[activeCard].relations;
    var cardList = document.getElementsByClassName("galleryCard");
    for (var i = 0; i < cardList.length; i++) {
        var card = cardList[i];
        var cardTerm = card.id.replace("termcard-", "");
        if (activeCardRelations.includes(cardTerm)) {
            card.style.display = "flex";
            card.style.backgroundColor = "#A9FFDD";
            card.style.transform = "scale(1)";
        }
        else if (cardTerm == activeCard) {
            card.style.display = "flex";
            card.style.backgroundColor = "#12EAA9";
            card.style.transform = "scale(1)";
        }
        else {
            // scale all other cards down
            if (isHiding) {
                card.style.display = "none";
            }
            else {
                card.style.display = "flex";
            }
            card.style.backgroundColor = "#f1f1f1";
            card.style.transform = "scale(0.75)";

        }
    }
}


</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>